<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="signIn()">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            class="form-control"
            placeholder="username"
            name="username"
            formControlName="username"
            id="username"
            selected="data.username"
            required>
          <mat-error *ngIf="userForm.controls['username'].errors">Username is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            class="form-control"
            placeholder="password"
            name="password"
            formControlName="password"
            id="password"
            selected="data.password"
            required>
            <mat-error *ngIf="userForm.controls['password'].errors">Password is required.</mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="start">
        <button [disabled]="userForm.invalid" mat-button type="submit">Sign In</button>
    </mat-card-actions>
  </form>
</mat-card>
