<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="signUp()">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            class="form-control"
            placeholder="username"
            name="username"
            formControlName="username"
            id="username"
            selected="data.username"
            required>
          <mat-error *ngIf="userForm.controls['username'].errors && userForm.controls['username'].touched">Username is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            class="form-control"
            placeholder="password"
            name="password"
            formControlName="password"
            id="password"
            selected="data.password"
            type="password"
            required>
            <mat-error *ngIf="userForm.controls['password'].errors && userForm.controls['password'].touched">Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password Confirmation</mat-label>
          <input
            matInput
            class="form-control"
            placeholder="password confirmation"
            name="passwordConf"
            formControlName="passwordConf"
            id="passwordConf"
            selected="data.passwordConf"
            type="password"
            required>
            <mat-error *ngIf="userForm.controls['passwordConf'].hasError('required') && userForm.controls['passwordConf'].touched">Password confirmation is required.</mat-error>
        </mat-form-field>
        <mat-error *ngIf="userForm.errors?.passwordsDontMatch && userForm.controls['password'].touched && userForm.controls['passwordConf'].touched">Password confirmation does not match password.</mat-error>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button [disabled]="userForm.invalid" type="submit">Sign Up</button>
    </mat-card-actions>
  </form>
</mat-card>
