/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
  width: 100% !important;
}
// Flex display

.flex {
  display: flex;

  &.jc-center {
    justify-content: center;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.ac-center {
    align-content: center;
  }

  &.ai-center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.pointer {
  cursor: pointer;
}

// Spacing

.mt50 {
  margin-top: 50px;
}

.p10 {
  padding: 10px;
}

.w100 {
  width: 100%;
}

.pad-children-x10 {
  & > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pad-children-y10 {
  & > * {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.pad-children-l10 {
  & > * {
    padding-left: 10px;
  }
}
.pad-children-r10 {
  & > * {
    padding-right: 10px;
  }
}

.mat-button.mat-button-disabled {
  cursor: not-allowed !important;
}

.keep-white-space {
  white-space: pre-wrap;
}
