/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
  width: 100% !important;
}

.flex {
  display: flex;

  &.jc-center {
    justify-content: center;
  }

  &.ac-center {
    align-content: center;
  }

  &.ai-center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.mt50 {
  margin-top: 50px;
}
