.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  font-weight: 800;
}

.toggle-nav {
  width: 20px;
  height: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 10px;
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
